.profile__button_type_add {
  background-image: url(../../../../images/add-button.svg);
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: #fff 2px solid;
  border-radius: 2px;
}

@media screen and (max-width: 750px) {
  .profile__button_type_add {
    width: 100%;
    margin-top: 36px;
  }
}
